@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #17031a;
  color: #fff;
  height: 100vh;
  margin: 0;
  overflow-y: scroll; /* Habilita o scroll vertical */
  position: relative;
}
